<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="WalletHub test suite" parallel="false" preserve-order="true">
  <test name="Facebook Status">
    <classes>
     <class name="testscripts.PostFacebookStatus"/>    
    </classes>
  </test>
  <test name="WalleHub Review">
    <classes>
     <class name="testscripts.PostReviewWalletHub"/>
    </classes>
  </test>
</suite>